@font-face {
    font-family: 'Fontin-SmallCaps';
    src: url('../fonts/Fontin-SmallCaps.ttf?#iefix') format('truetype'),
         url('../fonts/Fontin-SmallCaps.otf') format('embedded-opentype');
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

html{
    padding-top: 0;
    margin: 0;
}
body {
    padding-top: 0;
    padding-bottom: 20px;
    margin: 0;
}

/* Home Page Elements */

.homepanel {
    background-color: #212121;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.homepanelheader {
    background-color: #252525;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.ytcontainer {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.45);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Divination Card Text Classes */
.whiteitem {
    color: #c8c8c8;
}

.magicitem {
    color: #8888ff;
    display: block;
}

.rareitem {
    color: #ff7;
    display: block;
}

.uniqueitem {
    color: #af6025;
    display: block;
}

.currencyitem {
    color: #aa9e82;
    display: block;
}

.gemitem {
    color: #1ba29b;
    display: block;
}

.corrupted {
    color: #d20000;
    display: block;
}

.prophecy {
    color: #b54bff;
    display: block;
}

.divination {
    color: #aae6e6;
    display: block;
}

.default {
    color: #7f7f7f;
    display: block;
}

.normal {
    color: #c8c8c8;
    display: block;
}

.augmented {
    color: #8888ff;
    display: block;
}

/* Divination Card Classes */

.divCardContainer{
    position: relative;
    text-align: center;
}

.divCardOverlay {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: auto;
    z-index: 1;
}

.divCardArtwork {
    position: absolute;
    top: 40px;
    left: 35px;
    width: 270px;
    z-index: 0;
}

.divCardTitleBlock {
    position: absolute;
    top: 14px;
    left: 30px;
    width: 270px;
    z-index: 2;
    text-align: center;
}

.divCardName {
    position: relative;
    font-family: Fontin-SmallCaps;
    font-size: 16px;
    color: #222;
    top: 0;
}

.divCardStackSizeBlock {
    position: absolute;
    top: 214px;
    left: 48px;
    width: 40px;
    z-index: 2;
    text-align: center;
}

.divCardStackSize {
    position: relative;
    font-family: Fontin-SmallCaps;
    font-size: 16px;
    color: #eee;
    top: 0;
}


.divCardDescriptionBlock {
    display: table;
    position: absolute;
    top: 238px;
    left: 30px;
    width: 270px;
    height: 65px;
    z-index: 2;
    text-align: center;
}

.divCardDescription {
    display: table-cell;
    width: 100%;
    height: 65px;
    position: relative;
    font-family: Fontin-SmallCaps;
    font-size: 16px;
    top: 0;
    line-height: 18px;
    vertical-align: middle;
}

.divCardDescription span {
    display: block;
}

.divCardDescription span.default {
    display: inline;
}

.divCardDescription span.normal {
    display: inline;
}

.divCardDescription span.augmented {
    display: inline;
}

.lineContainer {
    display: block;
}

.lineContainer span{
    display: inline;
}

.divCardFlavourBlock {
    display: table;
    position: absolute;
    top: 310px;
    left: 30px;
    width: 270px;
    height: 130px;
    z-index: 2;
    text-align: center;
}

.divCardFlavourText {
    display: table-cell;
    width: 100%;
    height: 65px;
    position: relative;
    font-family: Fontin-SmallCaps;
    font-size: 16px;
    top: 0;
    line-height: 18px;
    vertical-align: middle;
    font-style: italic;
    padding: 10px;
}

.popover-body{
    padding: 0 0.75rem;
    border: none;
}

.popover {
    background-color: transparent;
    border: none;
}