@model List<PoEBrowser.Models.CurrencyItem>

@{
    ViewData["Title"] = "Currency";
}

@{
    int totalItems = Model.Count();
}

<div class="container">

    <div class="row mt-1 mb-1">
        <div class="col" style="text-align: center; font-size: x-small; width: 100%">
            <i>Displaying @totalItems Items</i>
        </div>
    </div>

    <div class="row mt-1 mb-1">
        <div class="flex-column ml-auto justify-content-end">
            <form class="form-inline my-2 my-lg-2">
                <input class="form-control mr-sm-2 bg-dark" type="text" placeholder="Search" name="q">
                <button class="btn btn-secondary my-2 mr-sm-2" asp-action="GetCurrencyItems">Search</button>
                <button class="btn btn-secondary my-2" asp-action="GetCurrencyItems" asp-route-q="">Clear</button>
            </form>
        </div>
    </div>

    @{
        var prevItemType = "";
        var itemCount = 0;
        var rowClosed = false;
    }

    <div class="container">

        @for (int i = 0; i < totalItems; i++)
        {
            if (prevItemType != Model[i].ItemClass)
            {
                if (!rowClosed)
                {
                    @:</div>
                    rowClosed = true;
                }

            @:<div class="row" style="width: 100%">
                @:<div class="col-md">
                    <p class="mt-4 mb-1 text-muted"><b>@Model[i].ItemClass</b></p>
                    <hr class="mt-0 mb-1" />
                @:</div>
            @:</div>


            itemCount = 0;

            }

        if (itemCount == 0)
        {
            @:<div class="row">
                rowClosed = false;
            }

            @:<div class="col-md-4 mt-0 pt-0">
                <img style="max-height: 25px; width: auto" src="@Model[i].ImgSrcString" />
                <a asp-action="GetCurrencyItem" asp-route-name="@Model[i].ItemName">@Model[i].ItemName</a>
            @:</div>


            if (itemCount == 2 || i == (totalItems - 1))
            {
                itemCount = 0;
                rowClosed = true;
                @:</div>
            }
            else
            {
                itemCount++;
            }

            prevItemType = Model[i].ItemClass;

        }
</div>
